/* Mobile Layout */

* {
	box-sizing: border-box;
	margin-top: 0;
}

body {
	text-align: center;
	width: 100%;
	margin: 0;
}

header {
	border-bottom: solid 5px black;
	padding-bottom: 25px;
}

h1 {
	background: #132639;
	color: white;
	text-transform: uppercase;
	padding: 30px;
	font-size: 2em;
	}

h1,
h2,
legend {
	font-weight: bolder;
}

h2,
legend {
	color: black;
	font-size: 1.75em;
}

p {
	font-size: 1.35em;
}

p,
label {
	color: lightslategrey;
}

label,
h1,
h2,
legend {
	font-family: Merriweather, serif;
}

select {
	padding-left: 15px;
}

select,
.required {
	font-size: 1.25em;
}

main {
	border-top: solid 3px black;
	margin-top: 5px;
	padding-top: 25px;
}

main,
footer {
	background: #ffffe6;
}

fieldset {
	border: none;
	text-align: left;
}

.msg {
	display: block;
}

textarea {
	margin-top: 25px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
	border: solid 1px black;
	border-radius: 5px;
	width: 100%;
	font-size: 1.2em;
}

input:focus,
textarea:focus {
	border: 2px solid teal;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
	transition: width 1s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
	width: 50%;
}

#zip {
	width: 33%;
}

.flex {
	display: flex;
	flex-direction: column;
}

.text-label {
	font-size: 1.2em;
	padding: 10px 0 10px 0;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
	height: 50px;
	background: #f2f2f2;
}

::placeholder {
	text-align: right;
	padding-right: 25px;
	font-size: .75em;
}

input[type="tel"]::placeholder {
	text-align: left;
	font-size: 1em;
	padding-left: 25px;
}

option:nth-of-type(1),
::placeholder {
	color: lightgrey;
}

input[type="checkbox"],
input[type="radio"] {
	margin: 15px 10px 0 0;
}

#java,
#plain {
	margin-bottom: 25px;
}



textarea {
	height: 100px;
}

button {
	width: 100%;
	height: 75px;
	margin-top: 25px;
	background: teal;
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 1.5em;
}

p,
button {
	font-family: Roboto, sans-serif;
}

footer {
	padding: 50px 0 50px 0;
	color: lightslategrey;
	font-style: italic;
	font-size: 1.2em;
}

/* Larger Screen Layout */

@media (min-width: 768px) {

	form {
		width: 75%;
		margin: 0 auto;
	}

	legend {
		margin-bottom: 35px;
	}

	input[type="text"],
	input[type="email"],
	input[type="tel"],
	select {
		width: 75%;
	}

	.flex {
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 25px;
	}

	#zip {
		width: 25%;
		margin-right: 50%;
	}

}


